body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    padding: 5px 20px;
    margin: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 1.25em;

}

#rightWrong {
    margin: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
}

.hide {
    display: none;
}

